/chromedriver-mac-arm64
config.yaml

/project_info
**/__pycache__/
**/.DS_Store
*.pyc

sfscraping

.env

### Sphinx
docs/_build
.doctrees/

### Sam
.aws-sam

### Layer
layer

### Pytest
.pytest_cache/