/chromedriver-mac-arm64
config.yaml

/project_info
**/__pycache__/
**/.DS_Store
*.pyc

sfscraping

.env

### Sphinx
safeflat-sam-app/docs/_build
.doctrees/

### Sam
safeflat-sam-app/.aws-sam

### Layer
safeflat-sam-app/layer
